body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.logo .highlight {
    color: #FFD700;
}

.navbar {
    margin-top: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a.active, .navbar a:hover {
    background-color: #367737;
}

.add-item form, .inventory-list table {
    width: 90%;
    margin: 20px auto;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px);
    display: block;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

